// Header Section

$header_color: #33394e;
$logo_color: #e8edff;
$nav_color: #cdd4ec;
$nav_active: #829bf3;

// Main section:

$main_color: #262d46;
$header_color: #e8edff;
$card_color: #0f2836;

// Footer Section:

$card_color: #33394e;
$card_active: #3d4a78;

$text_color: #ffffff;
