header {
  background-color: #33394e;
  padding: 19px 120px;
  .header_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    span {
      a {
        color: $logo_color;
      }
    }

    nav {
      ul {
        li {
          a {
            color: $nav_color;
          }
          a:active {
            color: $nav_active;
          }
        }
      }
    }
  }
}
